[packages]
flask-dance = "*"
pyjwt = "*"
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
eventlet = "*"
flask = ">=2.0"
flask-sqlalchemy = ">=2.5"
werkzeug = ">=2.0"
python-dotenv = ">=1.0"
psycopg2-binary = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
